<div
  class="notification-container"
  [ngStyle]="{ backgroundColor: isRealTime() ? 'lightgrey' : 'white' }"
>
  <button class="close-button bg-red-600" #onDeleteButton>
    <i class="pi pi-times text-white"></i>
  </button>
  <div class="notification-header">
    <span class="notification-title">{{ notification().type }}</span>
    <span class="notification-time">{{
      notification().createdAt | date : "short"
    }}</span>
  </div>
  <div class="notification-body">
    {{ notification().message }}
  </div>
  @if (!notification().read) {
  <div class="notification-actions">
    <button class="btn btn-primary" #onMarkAsReadButton>Mark as Read</button>
  </div>
  }
</div>
