@if (isAllLeagues()) {
  <button
    class="flex h-9 shrink-0 items-center justify-center gap-x-2 rounded-full px-5 shadow-sm transition active:scale-95"
    [class.bg-white]="isSelected()"
    [class.text-background-dark]="isSelected()"
    [class.bg-surface-highlight]="!isSelected()"
    [class.border]="!isSelected()"
    [class.border-white[5]="!isSelected()"
    [class.text-text-secondary]="!isSelected()"
    [class.hover:text-white]="!isSelected()"
    (click)="chipClicked.emit('all')"
  >
    <span class="text-sm" [class.font-bold]="isSelected()" [class.font-medium]="!isSelected()">
      All Leagues
    </span>
  </button>
} @else {
  <button
    class="flex h-9 shrink-0 items-center justify-center gap-x-2 rounded-full px-4 transition active:scale-95"
    [class.bg-primary[20]="isSelected()"
    [class.border-primary]="isSelected()"
    [class.text-primary]="isSelected()"
    [class.font-bold]="isSelected()"
    [class.bg-surface-highlight]="!isSelected()"
    [class.border-white[5]="!isSelected()"
    [class.text-text-secondary]="!isSelected()"
    [class.hover:text-white]="!isSelected()"
    [class.font-medium]="!isSelected()"
    [class.border]="true"
    (click)="chipClicked.emit(league()?.league_key || '')"
  >
    @if (league()?.league_logo) {
      <img
        [src]="league()!.league_logo"
        [alt]="league()!.league_name"
        class="h-4 w-4 rounded-full object-cover"
      />
    } @else {
      <div class="h-4 w-4 bg-gradient-to-tr from-blue-500 to-purple-500 rounded-full"></div>
    }
    <span class="text-sm">{{ league()?.league_name }}</span>
  </button>
}

