:host {
  display: contents;
}

.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

